---
---
<section id="aboutme" data-section="aboutme" class="pt-16">
    <div class="px-5">
        <h1 class="text-3xl font-bold bg-gradient-to-r from-cyan-500 to-blue-500 text-transparent bg-clip-text mb-6">
            Sobre mí
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="col-span-1">
                <p>
                    Me llamo Sergio Orgaz Bravo
                </p>
            </div>
            <div class="col-span-1">
                
            </div>
        </div>
    </div>
</section>