---
---
<section id="projects" data-section="projects" class="pt-16">
    <div class="px-5">
        <h1 class="text-3xl font-bold bg-gradient-to-r from-cyan-500 to-blue-500 text-transparent bg-clip-text mb-6">
            Proyectos
        </h1>
        <div class="">
            <img class="rounded-lg border-3 border-gray-700 hover:scale-150 transition-transform duration-300" src="../../public/746shots_so.webp" alt="">
        </div>
    </div>
</section>