---
import { languages } from '../i18n/ui';
const defaultLang = 'es';
const currentLang = Astro.url.pathname.split('/')[1] || defaultLang;

// Sólo aquellos dos idiomas en el orden que quieres
const langs = ['es', 'en'];
---

<ul class="flex items-center space-x-1">
  {langs.map((lang, i) => (
    <>
      <li>
        <a
          href={lang === defaultLang ? '/' : `/${lang}/`}>
          {lang.toUpperCase()}
        </a>
      </li>
      {i < langs.length - 1 && (
        <li class="text-gray-500 select-none">|</li>
      )}
    </>
  ))}
</ul>
